.pink{
    background-color: #e9748a !important;
}
.pink-name{
    color: white !important;
}

.customtab li a.nav-link.active, .profile-tab li a.nav-link.pink-name.active{
    color: #e9748a !important;
    border-bottom: 2px solid #e9748a !important;
}